@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');

@import 'tailwindcss';

/* @theme {
  --font-roboto: "Lora", "sans-serif";
} */

@layer base {
  body {
    font-family: 'Lora', sans-serif;
  }
  .recipes-grid {
    font-family: 'Lobster', sans-serif;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 700,
      'GRAD' 0,
      'opsz' 40;
    font-size: 35px !important;
  }

  .icon-small {
    font-size: 23px !important;
  }
}

/* Анимация появления */
body {
  transition:
    filter 0.4s ease,
    background-color 0.4s ease,
    color 0.4s ease;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Тёмная тема через фильтр */
html.dark {
  filter: invert(1) hue-rotate(180deg) brightness(95%) contrast(105%);
}

/* Исключаем инверсию для медиа */
html.dark img,
html.dark video,
html.dark svg,
html.dark canvas,
html.dark iframe {
  filter: invert(1) hue-rotate(180deg);
}

/* Скрыть скроллбар красиво (всех браузерах) */
/* ::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE и Edge */
/*   scrollbar-width: none; /* Firefox */
/* } */

/* Убираем скроллбар кроссбраузерно */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

